<!DOCTYPE html>
<html>
  <head>
    <title>BirdyReact</title>
    <%= csrf_meta_tags %>
    <%# <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/antd/3.3.0/antd.min.css"> %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
